@use '../abstracts'as *;


nav {
   font-weight: bold;
   text-transform: uppercase;
   width: 100%;
   height: $menuHeight;
   background-color: $menuColor;
   padding-top: 50px;

   li {
      display: inline-block;
      margin-right: 80px;
   }
}