.post {
   display: flex;
   height: 100vh;

   .image {
      width: 50%;
      overflow: hidden;

      img {
         width: 100%;
      }
   }

   .content {
      max-width: 665px;
      width: 50%;
   }
}

.post:nth-of-type(even) {
   flex-direction: row-reverse;
}